Repository ivamsi2001/kotlin-libs: changes, and which Jenkins stages are due for each by the changed paths.
All: kotlin-mongo-lib, kotlin-web-lib

kotlin-mongo-lib:
              steps{
                  sh './gradlew kotlin-mongo-lib clean build'
                  sh './gradlew kotlin-mongo-lib publish --stacktrace'
              }
          

kotlin-web-lib:
              steps{
                  sh './gradlew kotlin-web-lib clean build'
                  sh './gradlew kotlin-web-lib publish --stacktrace'
              }
          

Update Jenkinsfile
  Jenkinsfile
Due: none

Update gradle.properties
  kotlin-mongo-lib/gradle.properties
Due: kotlin-mongo-lib

Update build.gradle.kts
  kotlin-mongo-lib/build.gradle.kts
Due: none

Maven Publish Corrections
  kotlin-mongo-lib/build.gradle.kts
  kotlin-mongo-lib/gradle.properties
  kotlin-web-lib/build.gradle.kts
  kotlin-web-lib/gradle.properties
Due: kotlin-mongo-lib, kotlin-web-lib

Maven Publish Corrections
  Jenkinsfile
Due: none

Version bump
  kotlin-mongo-lib/gradle.properties
  kotlin-web-lib/gradle.properties
Due: kotlin-mongo-lib, kotlin-web-lib

Update gradle.properties
  kotlin-web-lib/gradle.properties
Due: kotlin-web-lib

Update gradle.properties
  gradle.properties
Due: none

Path conditions:
  kotlin-mongo-lib: any of: kotlin-mongo-lib/gradle.properties
  kotlin-web-lib: any of: kotlin-web-lib/gradle.properties
